.Resizer {
    background: transparent;
    opacity: .4;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

.Resizer.horizontal {
    z-index: 8;
    border-top: 3px solid #1e1e1e;
    cursor: row-resize;
}

.Resizer.vertical {
    z-index: 8;
    border-right: 3px solid #1e1e1e;
    cursor: col-resize;
}

.Resizer.disabled {
    cursor: not-allowed;
}

.Resizer.disabled:hover {
    border-color: transparent;
}
