.custom-resizer {
    width: 100%;
    height: 95%
}

.custom-resizer > .pane {
    text-align: left;
    overflow: hidden;
    background: #272822;
    margin: 5px;
    z-index: auto;
}

/*---------------------------------*/
.horizontal-pane {
    display: block;
    height: 100%;
    background: #00bb00
}

.vertical-pane {
    display: block;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.vertical-pane > div {
    position: relative;
    z-index: 1;
}

.h-multipane-resizer {
    display: block;
    position: relative;
    z-index: 2;
    cursor: row-resize
}

.v-multipane-resizer {
    display: block;
    position: relative;
    z-index: 2;
    cursor: col-resize
}

.h-multipane-resizer:before {
    background: #00bb00;
    display: block;
    content: "";
    width: 40px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    top: -3px;
    margin-left: -1.5px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.v-multipane-resizer:before {
    display: block;
    content: "";
    width: 3px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -3px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc
}
