html, body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat' !important;
    background-color: #353535;
}

.Pane1 > div,
.Pane1 > div > .main-breadcrumbs {
    height: 100% !important;
}

.Pane1 > div > .main-breadcrumbs > .makeStyles-root-1 {
    min-width: 400px;
    max-height: 100% !important;
    padding: 0 0px 0 40px !important;
}

.Pane1 > div > .main-breadcrumbs > .makeStyles-root-1 .MuiPaper-root {
    margin: 10px 0 !important;
    padding: 0 !important;
    max-width: 100% !important;
    height: 100% !important;
    box-shadow: none;
    border-bottom: 1px solid #474747;
    background-color: #353535;
    /* overflow-y: auto !important; */
}

.Pane1 > div > .main-breadcrumbs > .makeStyles-root-1 .MuiPaper-root .MuiGrid-item {
    padding: 0 !important;
}

.Pane1 > div > .main-breadcrumbs > .makeStyles-root-1 .MuiPaper-root:first-child {
    margin-top: 0 !important;
    padding: 0 !important;
    background-color: transparent;
    border: none;
}

.Pane1 > div > .main-breadcrumbs > .makeStyles-root-1 .MuiPaper-root:last-child {
    margin-bottom: 0 !important;
    padding: 10px 5px !important;
    background-color: transparent;
    color: #ffffff !important;
    font-size: 14px !important;
    border: none;
}

.MuiPaper-rounded {
    border-radius: 0 !important;
}

.MuiPaper-elevation1:last-child {
    height: 100vh !important;
}

.rendered-react-keyed-file-browser {
    height: 100%;
}

.MuiGrid-container > .MuiGrid-spacing-xs-3 {
    margin: 0 !important;
}

.MuiGrid-root.MuiGrid-container div .rendered-react-keyed-file-browser {
    width: 100% !important;
}

.MuiPaper-root > .MuiGrid-container {
    margin: 0 !important;
}

.MuiPaper-root > .MuiGrid-container > div {
    width: 100% !important;
    height: 100% !important;
    display: flex;
    justify-content: space-between;
}

button.MuiButton-containedSecondary {
    background-color: #00af92 !important;
}

.MuiPaper-root > .MuiGrid-container > div > button {
    width: 100%;
    min-width: 100px;
    background-color: transparent;
    color: #ffffff;
    font-size: 10px !important;
    margin-top: 10px;
}

.MuiPaper-root > .MuiGrid-container > div > button.Mui-disabled {
    color: rgba(0, 0, 0, 0.4);
}

.MuiPaper-root > .MuiGrid-container > div > button.MuiButton-containedPrimary {
    background-color: #00af92 !important;
}

.MuiPaper-root > .MuiGrid-container > div > button:first-child {
    margin-left: 20px;
}

.MuiPaper-root > .MuiGrid-container > div > button:last-child {
    margin-right: 20px;
    background-color: #353535;
}

.Pane1 > div > .main-breadcrumbs > .makeStyles-root-1 .MuiPaper-root .MuiGrid-item .MuiButtonBase-root {
    background-color: #353535 !important;
    border-radius: 0 !important;
    font-family: 'Montserrat' !important;
    font-weight: 700 !important;
    color: #ffffff !important;
}

.Pane1 > div > .main-breadcrumbs > .makeStyles-root-1 .MuiPaper-root .MuiGrid-item .MuiButtonBase-root:hover {
    background-color: #474747 !important;
}

.file.selected .name::after,
.folder.selected .name::after {
    background: #00af92 !important;
}

.file .modified {
    font-size: 12px !important;
    color: #cfcfcf !important;
}

.file.selected .modified {
    color: #00af92 !important;
}

.rendered-file-browser .action-bar {
    background-color: #474747;
    padding: 7px 5px;
}

span.PrivateTabIndicator-colorSecondary-228 {
    background-color: #00af92 !important;
}

.Pane2 .MuiAppBar-colorPrimary .AppBarTabs {
    background-color: #141313 !important;
}

span.MuiTab-wrapper {
    background-color: #141313 !important;
    color: #ffffff !important;
}

nav.sidenav---sidenav---_2tBP {
    background-color: #1e1e1e !important;
}

.sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T * {
    color: #e3e3e3 !important;
}

.terminalContainer {
    margin-top: -5px;
}

.makeStyles-root-1 .MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded {
    margin-left: 10px !important;
}

.Pane1 > div > .main-breadcrumbs > .makeStyles-root-1 .MuiPaper-root .MuiGrid-root .MuiFormGroup-root {
    margin-left: 20px !important;
}

.makeStyles-root-259 .MuiTableCell-root {
    color: #ffffff !important;
}

/* .MuiPaper-root.MuiPaper-elevation1.makeStyles-paper-2.MuiPaper-rounded,
.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2.MuiGrid-wrap-xs-nowrap.MuiGrid-grid-xs-12 {
    overflow-y: auto !important;
} */

.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2.MuiGrid-wrap-xs-nowrap.MuiGrid-grid-xs-12 .select {
    display: flex !important;
    flex-direction: column !important;
    padding-left: 10px !important;
    /* overflow-y: auto !important; */
    min-height: 100px !important;
}

.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2.MuiGrid-wrap-xs-nowrap.MuiGrid-grid-xs-12 .select .MuiPaper-root.MuiPaper-elevation0.MuiPaper-rounded {
    background-color: transparent !important;
}

.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2.MuiGrid-wrap-xs-nowrap.MuiGrid-grid-xs-12
.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-animated.MuiInputLabel-shrink {
    background-color: transparent !important;
    color: #ffffff !important;
    font-size: 1rem !important;
    font-family: 'Montserrat' !important;
    text-transform: capitalize !important;
    min-width: 100px !important;
}

.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2.MuiGrid-wrap-xs-nowrap.MuiGrid-grid-xs-12
.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-animated.MuiInputLabel-shrink
.MuiInputBase-input {
    background-color: transparent !important;
    font-size: 1rem !important;
    font-family: 'Montserrat' !important;
    text-transform: capitalize !important;
    min-width: 200px !important;
}

.makeStyles-root-1084 {
    overflow-y: hidden !important;
}

span.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1,
th.MuiTableCell-root.MuiTableCell-alignLeft.MuiTableCell-sizeSmall.MuiTableCell-body,
td.MuiTableCell-root.MuiTableCell-alignRight.MuiTableCell-sizeSmall.MuiTableCell-body {
    color: #ffffff !important;
}

table.MuiTable-root {
    min-width: auto !important;
}

table.MuiTable-root .MuiTableHead-root {
    display: none !important;
    margin-top: 10px !important;
}

.makeStyles-root-1107 {
    margin-left: 10px !important;
    width: 200px !important;
}

.MuiSwitch-colorSecondary.Mui-checked {
    color: #00af92 !important;
}

/* textarea.MuiInputBase-input.MuiInputBase-inputMultiline {
    background-color: transparent !important;
} */

.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2.MuiGrid-wrap-xs-nowrap.MuiGrid-grid-xs-12 form {
    width: 100% !important;
}

.makeStyles-root-1 {
    overflow-y: scroll !important;
}
