html, body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat' !important;
    background-color: #353535;
}

.Pane1 > div,
.Pane1 > div > .main-breadcrumbs {
    height: 100% !important;
}

.Pane1 > div > .main-breadcrumbs > .makeStyles-root-1 {
    max-height: 100% !important;
    padding: 0 0px 0 40px !important;
}

.Pane1 > div > .main-breadcrumbs > .makeStyles-root-1 .MuiPaper-root {
    margin: 10px 0 !important;
    padding: 0 !important;
    max-width: 100% !important;
    height: 100%;
    box-shadow: none;
    border-bottom: 1px solid #474747;
    background-color: #353535;
}

.Pane1 > div > .main-breadcrumbs > .makeStyles-root-1 .MuiPaper-root .MuiGrid-item {
    padding: 0 !important;
}

.Pane1 > div > .main-breadcrumbs > .makeStyles-root-1 .MuiPaper-root:first-child {
    margin-top: 0 !important;
    padding: 0 !important;
    background-color: transparent;
    border: none;
}

.Pane1 > div > .main-breadcrumbs > .makeStyles-root-1 .MuiPaper-root:last-child {
    margin-bottom: 0 !important;
    padding: 10px 5px !important;
    background-color: transparent;
    color: #ffffff !important;
    font-size: 14px !important;
    border: none;
}

.MuiPaper-rounded {
    border-radius: 0 !important;
}

.MuiPaper-elevation1:last-child {
    height: 100vh !important;
}

.rendered-react-keyed-file-browser {
    height: 100%;
}

.MuiGrid-container > .MuiGrid-spacing-xs-3 {
    margin: 0 !important;
}

.MuiGrid-root.MuiGrid-container div .rendered-react-keyed-file-browser {
    width: 100% !important;
}

.MuiPaper-root > .MuiGrid-container {
    margin: 0 !important;
}

.MuiPaper-root > .MuiGrid-container > div {
    width: 100% !important;
    height: 100% !important;
    display: flex;
    justify-content: space-between;
}

button.MuiButton-containedSecondary {
    background-color: #00af92 !important;
}

.MuiPaper-root > .MuiGrid-container > div > button {
    width: 100%;
    background-color: transparent;
    color: #ffffff;
    margin-top: 10px;
}

.MuiPaper-root > .MuiGrid-container > div > button.Mui-disabled {
    color: rgba(0, 0, 0, 0.4);
}

.MuiPaper-root > .MuiGrid-container > div > button.MuiButton-containedPrimary {
    background-color: #00af92 !important;
}

.MuiPaper-root > .MuiGrid-container > div > button:first-child {
    margin-left: 20px;
}

.MuiPaper-root > .MuiGrid-container > div > button:last-child {
    margin-right: 20px;
    background-color: #353535;
}

.Pane1 > div > .main-breadcrumbs > .makeStyles-root-1 .MuiPaper-root .MuiGrid-item .MuiButtonBase-root {
    background-color: #353535 !important;
    border-radius: 0 !important;
    font-family: 'Montserrat' !important;
    font-weight: 700 !important;
    color: #ffffff !important;
}

.Pane1 > div > .main-breadcrumbs > .makeStyles-root-1 .MuiPaper-root .MuiGrid-item .MuiButtonBase-root:hover {
    background-color: #474747 !important;
}

.file.selected .name::after,
.folder.selected .name::after {
    background: #00af92 !important;
}

.file .modified {
    font-size: 12px !important;
    color: #cfcfcf !important;
}

.file.selected .modified {
    color: #00af92 !important;
}

.rendered-file-browser .action-bar {
    background-color: #474747;
    padding: 7px 5px;
}

span.PrivateTabIndicator-colorSecondary-228 {
    background-color: #00af92 !important;
}

.Pane2 .MuiAppBar-colorPrimary .AppBarTabs {
    background-color: #141313 !important;
}

span.MuiTab-wrapper {
    background-color: #141313 !important;
    color: #ffffff !important;
}

nav.sidenav---sidenav---_2tBP {
    background-color: #1e1e1e !important;
}

.sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T * {
    color: #e3e3e3 !important;
}

.terminalContainer {
    margin-top: -5px;
}

.makeStyles-root-1 .MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded {
    margin-left: 10px !important;
}

.Pane1 > div > .main-breadcrumbs > .makeStyles-root-1 .MuiPaper-root .MuiGrid-root .MuiFormGroup-root {
    margin-left: 20px !important;
}
